.body{
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
}
.navbar{
    display: flex;
    justify-content: space-between;   
    background-color: rgb(105, 105, 226);
    width: 98%;
    margin-top: .5rem;
    border: 1px solid none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.logo{
    margin-left: 1rem;
    margin-top: -1.6rem;
}
.logo a{
    text-decoration: none;
    color: white;
}
.list li{
    display: inline;
    margin: 0 1rem;
}
.list li a{
    text-decoration: none;
    color: white;
}
.list {
    margin-top: 1rem;
}
