@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.handle-nav{
    background-color: #1e272e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    /* position: fixed; */
}
.handle-nav .title{
    margin-left: 2rem;
}
.handle-nav .title a{
    text-decoration: none;
    color: white;
}
.handle-nav .list li{
    display: inline;
    margin: .5rem .5rem
}
.list li .link{
    text-decoration: none;
    color: white;
    padding: .5rem .5rem;
    font-size: 15px;
    border-radius: 2px;
}

.list li .link:hover{
    /* background-color: #4D5245; */
    background-color: #416079;
    /* color: white; */
}