.handle-nav{
    background-color: #1e272e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
}
.handle-nav .title{
    margin-left: 2rem;
    margin-bottom: .5rem;
}
.handle-nav .title a{
    text-decoration: none;
    color: white;
}
.handle-nav .list li{
    display: inline;
    margin: .5rem .5rem
}
.list li .link{
    text-decoration: none;
    color: white;
    padding: .5rem .5rem;
    font-size: 15px;
    border-radius: 2px;
}

.list li .link:hover{
    background-color: #05c46b;
    color: #1e272e;
}