.pagemain{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ABB6D4;
}
.bodymain{
    height: 720px;
    background-color: #C5D3EE;
    width: 98%;
}
.mainconten{
    color: #3A5D70;
}